.display-board{
    width: 250px;
    height: 600px;
    border: 1px solid red;
    overflow: auto;
}
.display-board span{
    font-size: 25px;
    color: rgb(25, 51, 237);
}
.content{
    height: 100px;
}
.content h3{
    color: rgb(50, 89, 239);
}
.content button{
    border: 0px;
    background: rgba(255, 255, 255, 0.00);
    color: rgb(0, 17, 37);
    display: block;
    float :right;
}
.img img{
    width: 40px;
    height: 40px;
}