<div class="login">
    <div class="float-box">
        <div class="ad-board">
            <h3>为什么选择Nice Path：</h3>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </div>
    </div>
    <div class="float-box">
        <div class="login-board">
            <span>用户名</span><br>
            <input type="text"><br>
            <span>密码</span><br>
            <input type="text"><br>
            <button>登录</button>
        </div>
        <div class="extra-infor">
            <a href="">忘记密码？</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/register">注册账户</a>
        </div>
    </div>

</div>