.profile{
    width:1000px;
    height: 200px;
    margin: 0 auto;
    color: #FFFFFF;
    background: rgb(35, 48, 102);
    line-height: 1.5em;
}
.user-detail{
    display: flex;
}
.left{
    margin: 25px;
    width: 150px;
    height: 150px;
    float: left;
    background: green;
}
.middle{
    margin-top: 25px;
    width: 500px;
}
.right{
    margin:25px;
    width: 250px;
}