/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    outline: none;
    text-decoration:none;
}
body{
    background: rgba(140, 241, 110, 0.50);
}